---
import Layout from '../layouts/Layout.astro';
const posts = (await Astro.glob('../blogs/*.md')).sort((a,b) => a.frontmatter.id - b.frontmatter.id);
---
<Layout>
	<div class="profile">
		<img src="/avatar.png" alt="avatar"/>
		<div>
			<p>Pascal Schilp is a software developer based in the Netherlands, who currently works for ING.<br/><br/>In his free time, he enjoys hacking on hobby projects, playing phasmaphobia or PUBG and spending time with his partner.</p>
			<ul>
				<li><a href="/about">about</a></li>
				<li><a href="/networkonly">networkonly</a></li>
			</ul>
		</div>
	</div>
	<h2>Blogs</h2>
	<div>
	{posts.map((post) => (
		<article>
			<h3>{post.frontmatter.title}</h3>
			<p>{post.frontmatter.description}</p>
			<a href={`blogs/${post.frontmatter.id}`}>Read more</a>
		</article>
	))}
	</div>
</Layout>
