---

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<p>⚙️ I am rendered in a service worker</p>
		<ul>
			<a href="/about"><li>about</li></a>
			<a href="/networkonly"><li>network only route</li></a>
		</ul>
	</body>
	<script>
		navigator.serviceWorker.register('/sw.js');
	</script>
</html>