---

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500" rel="stylesheet">

		<style is:global>
			img {
				width: 200px;
			}
		</style>
	</head>
	<body>
		<a href="/">home</a>
		<h1>Networkonly</h1>
		<p>Im a networkonly route, I should be excluded from the bundle</p>
	</body>
</html>