---
import Layout from '../layouts/Layout.astro';
---
<Layout>
	<h1>Network-only</h1>
	<p>This route is a network-only route, it does not work when offline, and is not included in the service worker build</p>
</Layout>
