---

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
	<body>
		<a href="/">home</a>
		<h1>Network only route</h1>
		<p>Hello i am rendered on the server only</p>
		<p>I dont work offline</p>
	</body>
	<script>
		navigator.serviceWorker.register('/sw.js');
		let refreshing = false;

		navigator.serviceWorker.addEventListener('controllerchange', () => {
			if (refreshing) return;
			window.location.reload();
			refreshing = true;
		});
	</script>
</html>